.topnav{
    top: 0;
    padding: 2%;
}

.topnav a{
    color: white;
    margin-left: 4%;
    margin-right: 4%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1%;
}

.topnav, .footer{
    padding: 2%;
    background-color: black;
    left: 0;
    text-align: center;
    width: 100%;
    position: fixed;
}

.footer{
    bottom: 0;
    color: white;
}