html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.navbar, footer {
    background-color: black;
    padding: 1%;
    text-align: center;
    align-items: center; /* Centra verticalmente il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    display: flex;
    width: 100%;
}

.navbar a {
    color: white;
    margin: 0 2%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 1%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    color: white;
    margin-top: auto;
}

form{
    margin-top: 2%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.card{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #b8b8b8;
    margin: auto;
    padding: 5%;
}

h1{
    background-color: darkcyan;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2, h3{
    text-align: center;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2{
    margin-left: 20%;
    margin-right: 20%;
}


h3{
    margin-left: 30%;
    margin-right: 30%;
}

.entità{
    background-color: orange;
    color: black;
}

.relazione{
    background-color: blueviolet;
    color: white;
}

.data_ora_gara{
    background-color: lightblue;
}
.submit-button {
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 5% auto;
    width: 60%;
}

.submit-button:hover{
    background-color: darkgreen;
}

textarea{
    width: 100%;
    margin-top: 10px;
    border: none;
    background-color: white;
}

textarea:focus{
    outline: none; /* Rimuove il contorno predefinito quanto si scrive nella textbox */
}

table {
    width: 80%;
    border-collapse: collapse; /* Rimuove gli spazi tra le celle */
    margin: 0 auto;
}

th, td {
    padding: 1%;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: green;
    color: white;
}

tr:hover {
    background-color: lightgray;
}
